<div>
  <% if notice.present? %>
  <p id="notice"><%= notice %></p>
  <% end %>

  <%= render @task %>

  <%= link_to "Edit this task", edit_task_path(@task) %>
  <%= link_to "Back to tasks", tasks_path %>
  <div>
    <%= button_to "Destroy this task", @task, method: :delete %>
  </div>
</div>