<div id="<%= dom_id appointment %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= appointment.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= appointment.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= appointment.date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= appointment.user_id %>
  </p>

</div>
