<div>
  <div class="flex justify-between mb-6">
    <h1 class="text-xl">Appointments</h1>
    <%= link_to 'New Appointment', new_appointment_path, class: 'bg-blue-500 text-white px-4 py-2' %>
  </div>

  <div class="bg-white p-6">
    <table class="w-full">
      <thead>
        <tr>
          <th class="text-left">Title</th>
          <th class="text-left">Description</th>
          <th class="text-left">Start Date</th>
          <th class="text-left">End Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @appointments.each do |appointment| %>
        <tr class="border-t">
          <td class="py-3"><%= appointment.title %></td>
          <td><%= appointment.description %></td>
          <td><%= appointment.start_date.strftime("%b %d, %Y %I:%M %p") %></td>
          <td><%= appointment.end_date.strftime("%b %d, %Y %I:%M %p") %></td>
          <td class="text-right">
            <%= link_to 'Edit', edit_appointment_path(appointment), class: 'text-blue-500' %>
            <%= button_to 'Delete', appointment, method: :delete, class: 'text-red-500', data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>s